.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 16px;
}

.articles {
  --card-width: 400px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(var(--card-width), 1fr));
  gap: 16px;
  border: 1px solid dashed;
}

@media screen and (max-width: 640px) {
  .articles {
    --card-width: 320px;
  }
}
