.article {
  background-color: white;
  border-radius: 4px;
  overflow: hidden;
  color: lightslategray;
  box-shadow:
    rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.body {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.title {
  color: #333;
  cursor: pointer;
}

.thumbnailWrapper {
  position: relative;
  height: 300px;
}
.thumbnailWrapper:hover .thumbnailOverlay {
  opacity: 1;
  visibility: visible;
}

.thumbnail {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.thumbnailOverlay {
  position: absolute;
  inset: 0;
  opacity: 0;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.725);
  display: grid;
  place-items: center;
  transition: opacity linear 200ms;
}

.learnmoreBtn {
  border: none;
  outline: none;
  background: none;
  font-size: large;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.footer {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

@media screen and (max-width: 640px) {
  .thumbnailWrapper {
    height: 240px;
  }
}
