.backdrop {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
}

.modal {
  max-width: 600px;
  background-color: white;
  border-radius: 4px;
  flex: 1;
}

.modalControls {
  display: flex;
  align-items: center;
  flex-flow: row-reverse;
  padding: 8px 16px;
}

.closeBtn {
  border: none;
  outline: none;
  font-size: 40px;
  color: lightgray;
  background: none;
  cursor: pointer;
}
